# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
db/

# Personal raw data (DO NOT UPLOAD)
data/raw/
data/processed/messages.json

# Processed sensitive data
finetune_data.jsonl

# Trained model (VERY HEAVY + PRIVATE)
bhoomi_lora/
bhoomi_lora.zip

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment files
.env